@import '../../styles/colors.scss';

.formSearch {
  margin: 40px 0;

  h2 {
    margin-bottom: 20px;
  }
  input {
    margin: 0 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
  }
}
